/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

   .layout1 article{
    width: 58%;
    float: left;
   }

   .layout1 aside{
    width: 40%;
    float: right;
   }

   .layout1 footer {
      clear: both;
   }

   /***LAYOUT 2******/

   .layout2 .logo{
    width: 20%;
    float: left;
   }

   .layout2 nav {
    width: 78%;
    float: right;
   }

   .layout2 header::after{
    display: table;
    content: "";
    clear: both;
   }

   .layout2 .sidenav{
    width: 23%;
    float: left;
    margin:  0 2% 0 0;
   }

   .layout2 article{
    width: 50%;
    margin-left: 2%;
    float: left;
   }

   .layout2 .sidebar{
    width: 20%;
    float: right;
   }

   .layout2 footer{
    clear: both;
   }

   /*****LAYOUT 3****/

   .layout3 .logo {
    width: 20%;
    float: right;
    margin-left: 2%;
   }

   .layout3 nav{
    width: 78%;
    float: left;
   }

   .layout3 header::after{
    display: table;
    content: "";
    clear: both;
   }

   .layout3 article {
    width:30%;
    float: left;
    margin-right: 2%;
   }
   .layout3 .articles::after {
    display: table;
    content: "";
    clear: both;
  }

  .layout3 article:last-child {
    margin: 0;
  }

  /* ============================================
   SIMPLE MEDIA QUERIES FOR RESPONSIVE LAYOUTS
   ============================================ */
@media screen and (max-width: 768px) {
    


   .layout1 article,
  .layout1 aside,
  .layout2 header .logo,
  .layout2 header nav,
  .layout2 article,
  .layout2 aside.sidenav,
  .layout2 aside.sidebar,
  .layout3 article,
  .layout3 aside,
  .layout3 header .logo,
  .layout3 header nav {
    float: none;
    width: 100%;
    margin: 0 0 2%;
  }

}